@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.bg-landing {
  background-image: url('/images/earth_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-landing-page {
  background: rgba(251, 251, 254, 0.75);
}
